body {
    margin: 60px auto;
    width: 70%;
}
nav ul, footer ul {
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    padding: 0px;
    list-style: none;
    font-weight: bold;
}
nav ul li, footer ul li {
    display: inline;
    margin-right: 20px;
}
a {
    text-decoration: none;
    color: #999;
}
a:hover {
    text-decoration: underline;
    color: #2F487D;
}

h1, h2, h3, h4, h5, h6 {
    color: #333;
}

h1 {
    font-size: 3em;
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
}
h2 {
    font-size: 2.5em;
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
}
h3 {
    font-size: 2em;
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
}
p {
    font-size: 1.5em;
    line-height: 1.4em;
    color: #333;
}
footer {
    border-top: 1px solid #d5d5d5;
    font-size: .8em;
    background-color: #2F487D;
    text-align: center;
}

ul.posts { 
    margin: 20px auto 40px; 
    font-size: 1.5em;
}

ul.posts li {
    list-style: none;
}

#myName {
    color: #2F487D;
}

.mainFoot {
    color: #fff;
    vertical-align: center;
}

#mainPhoto {
    border-radius: 5%;
    height: 400px;
}


#myTeaching ul {
    font-size: 1.5em;
    line-height: 1.4em;
    color: #333;
    margin-top: 0.5em;
    margin-bottom: 1em;
}


