<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
		</head>
		<body>
			<nav>
	    		<ul >
	        		<li><a href="/" class="mainNav">About</a></li>
					<li><a href="/research/index.html" class="mainNav">Research</a></li>
					<li><a href="/teaching/index.html" class="mainNav">Teaching</a></li>
		        	<!--<li><a href="/about" class="mainNav">About</a></li>
	        		<li><a href="/cv" class="mainNav">CV</a></li>
	        		<li><a href="/blog" class="mainNav">Blog</a></li> -->
                    
	    		</ul>
			</nav>
			<div class="container">
			
			{{ content }}
			
			</div><!-- /.container -->
			<footer>
	    		<ul>
	        		<li><a href="" class="mainFoot">hm18[at]illinois[dot]edu</a></li>
	        		<li><a href="http://humbertomg.com" class="mainFoot">Home</a></li>
				</ul>
			</footer>
		</body>
	</html>
